<!-- Contact section-->
<style>
    #img-a {
        height: 120px;
        width: 120px;
    }
</style>

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">
                    Please visit WHO official website if you have a query about WHO. If you did not findout
                    answered, please use
                    the list below to contact us.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fab fa-whatsapp fa-3x mb-3 text-muted"></i>
                <div>+41 79 893 18 92</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <img src="./assets/img/who.png" alt="" id="img-a">
            </div>
            <div class="col-lg-4 mr-auto text-center"><a>
                    <a href="https://github.com/shivagyawali/covid19"><img src="./assets/img/github.png" alt=""
                            id="img-a">
                        <p class="text-center">Shiva Gyawali</p>
                    </a>
            </div>
        </div>

    </div>
</section>

<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright © 2020 - Corona tracking App, Data COVID-19</div>
    </div>
</footer>