<style>
    #total_cases {
        color: black;
        font-family: 'Nunito', sans-serif;
        background: white;

        border-radius: 30%;
        display: inline-block;
    }

    #header {
        color: white;
        font-weight: bold;
        margin-top: 80px;
    }

    #new_case {
        color: rgb(11, 105, 105);
        font-family: 'Nunito', sans-serif;
        background: white;

        border-radius: 30%;
        display: inline-block;


    }

    #total_death {
        color: rgb(230, 22, 22);
        font-family: 'Nunito', sans-serif;
        background: white;

        border-radius: 30%;
        display: inline-block;

    }

    #total_recovered {
        color: forestgreen;
        font-family: 'Nunito', sans-serif;
        background: white;
        border-radius: 30%;
        display: inline-block;

    }

    #new_death {
        color: rgb(230, 22, 22);
        font-family: 'Nunito', sans-serif;
        background: white;

        border-radius: 30%;
        display: inline-block;

    }

    #last {
        margin-bottom: 20px;
        color: rgb(230, 224, 223);
    }
</style>

<section class="page-section bg-dark" id="intro">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="container">
                    <h2 class="text-center" id="header">Summary Till Date</h2>
                    <hr class="divider my-4" />
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-medkit text-primary mb-4"></i>
                                <h3 class="h4 mb-2 bg-light">Total Cases</h3>
                                <h1 id="total_cases">
                                </h1>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-cart-plus text-primary mb-4"></i>
                                <h3 class="h4 mb-2 bg-info">New Cases</h3>
                                <h1 id="new_case">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-skull-crossbones text-primary mb-4"></i>
                                <h3 class="h4 mb-2 bg-danger">Death Cases</h3>
                                <h1 id="total_death">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-file-medical-alt text-primary mb-4"></i>
                                <h3 class="h4 mb-2 bg-success">Recovered Cases</h3>
                                <h1 id="total_recovered"></h1>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-16 text-center ">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-dizzy text-primary mb-4"></i>
                                <h3 class="h4 mb-0 " id="last">New Death</h3>
                                <h1 id="new_death"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/confirm">Find Out More Cases</a>
                </div>
            </div>
        </div>

        <div id="output"></div>

    </header>
</section>




<!---------------------Services Confirmed------------------------------->
<section class="page-section bg-info" id="servicesConfirmed">
    <!-- <h1 class="text-center">
        Confirmed Cases
    </h1>
    <div class="container bg-info">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="loader">
                        <div id="chart-one"></div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <section class="page-section table-dark" id="confirm">
        <div class="container">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table id="countries_stat" class="table table-bordered table-striped  bg-light">
                    <tr>
                        <th class="bg-primary">Country</th>
                        <th class="bg-info">Total Cases</th>
                        <th class="bg-danger">Total Deaths</th>
                        <th class="bg-secondary">Serious Critical</th>
                        <th class="bg-success">Total Recovered</th>
                    </tr>
                </table>

            </div>
        </div>

    </section>